extends ../layout.pug

block header
  doctype html
  // BEGIN: Head
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
    meta(name='description' content='Stack admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
    meta(name='keywords' content='admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app')
    meta(name='author' content='PIXINVENT')
    title Account setting - Stack Responsive Bootstrap 4 Admin Template
    link(rel='apple-touch-icon' href='/images/apple-icon-120.png')
    link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i' rel='stylesheet')
    // BEGIN: Vendor CSS
    link(rel='stylesheet' type='text/css' href='/css/vendors.min.css')
    link(rel='stylesheet' type='text/css' href='/css/select2.min.css')
    link(rel='stylesheet' type='text/css' href='/css/pickadate.css')
    link(rel='stylesheet' type='text/css' href='/css/switchery.min.css')
    // END: Vendor CSS
    // BEGIN: Theme CSS
    link(rel='stylesheet' type='text/css' href='/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/css/bootstrap-extended.min.css')
    link(rel='stylesheet' type='text/css' href='/css/colors.min.css')
    link(rel='stylesheet' type='text/css' href='/css/components.min.css')
    // END: Theme CSS
    // BEGIN: Page CSS
    link(rel='stylesheet' type='text/css' href='/css/vertical-menu-modern.css')
    link(rel='stylesheet' type='text/css' href='/css/palette-gradient.min.css')
    link(rel='stylesheet' type='text/css' href='/css/form-validation.css')
    link(rel='stylesheet' type='text/css' href='/css/daterange.min.css')
    // END: Page CSS
    // BEGIN: Custom CSS
    link(rel='stylesheet' type='text/css' href='/css/style.css')
    // END: Custom CSS
  // END: Head
  // BEGIN: Content
block content
  .app-content.content
    .content-overlay
    .content-wrapper
      .content-header.row
        .content-header-left.col-md-6.col-12.mb-2
          h3.content-header-title.mb-0 Account setting
          .row.breadcrumbs-top
            .breadcrumb-wrapper.col-12
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='/') Home
                li.breadcrumb-item
                  a(href='/') Users
                li.breadcrumb-item.active
                  | Account setting
        //
          <div class="content-header-right col-md-6 col-12 mb-md-0 mb-2">
          <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
          <button class="btn btn-outline-primary dropdown-toggle dropdown-menu-right" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings icon-left"></i> Settings</button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="card-bootstrap.html">Bootstrap Cards</a><a class="dropdown-item" href="component-buttons-extended.html">Buttons Extended</a></div>
          </div><a class="btn btn-outline-primary" href="full-calender-basic.html"><i class="feather icon-mail"></i></a><a class="btn btn-outline-primary" href="timeline-center.html"><i class="feather icon-pie-chart"></i></a>
          </div>
          </div>
      .content-body
        // account setting page start
        section#page-account-settings
          .row
            // left menu section
            .col-md-3.mb-2.mb-md-0
              ul.nav.nav-pills.flex-column.mt-md-0.mt-1
                li.nav-item
                  a#account-pill-general.nav-link.d-flex.active(data-toggle='pill' href='#account-vertical-general' aria-expanded='true')
                    i.feather.icon-globe
                    |                                   General
                li.nav-item
                  a#account-pill-password.nav-link.d-flex(data-toggle='pill' href='#account-vertical-password' aria-expanded='false')
                    i.feather.icon-lock
                    |                                   Change Password
                li.nav-item
                  a#account-pill-info.nav-link.d-flex(data-toggle='pill' href='#account-vertical-info' aria-expanded='false')
                    i.feather.icon-info
                    |                                   Info
                li.nav-item
                  a#account-pill-social.nav-link.d-flex(data-toggle='pill' href='#account-vertical-social' aria-expanded='false')
                    i.feather.icon-camera
                    |                                   Social links
            // right content section
            .col-md-9
              .card
                .card-content
                  .card-body
                    .tab-content
                      form#account-vertical-general.tab-pane.active(action='/user/updateInfo' method='post' enctype='multipart/form-data' role='tabpanel' aria-labelledby='account-pill-general' aria-expanded='true')
                        .media
                          a(href='javascript: void(0);')
                            img.rounded.mr-75(src=`/uploads/${avatar}` alt='profile image' height='64' width='64')
                          .media-body.mt-75
                            .col-12.px-0.d-flex.flex-sm-row.flex-column.justify-content-start
                              label.btn.btn-sm.btn-primary.ml-50.mb-50.mb-sm-0.cursor-pointer(for='account-upload') Upload new photo
                              input#account-upload(name='avatar' type='file' hidden)
                            p.text-muted.ml-75.mt-50
                              small#file-chosen
                                | Allowed JPG, GIF or PNG. Max
                                | size of
                                | 800kB
                        hr
                        div
                          .row
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-username') Username
                                  input#account-username.form-control(name='username' type='text' placeholder='Username' value=username required='' data-validation-required-message='This username field is required')
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-name') Name
                                  input#account-name.form-control(name='name' type='text' placeholder='Name' value=name required='' data-validation-required-message='This name field is required')
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-e-mail') E-mail
                                  input#account-e-mail.form-control(name='email' type='email' placeholder='Email' value=email required='' data-validation-required-message='This email field is required')
                            .col-12
                              .form-group
                                label(for='account-company') Company
                                input#account-company.form-control(value=company name='company' type='text' placeholder='Company name')
                            .col-12.d-flex.flex-sm-row.flex-column.justify-content-end
                              button.btn.btn-primary.mr-sm-1.mb-1.mb-sm-0(type='submit')
                                | Save
                                | changes
                      form#account-vertical-password.tab-pane.fade(action='/user/updatePassword' method='post' role='tabpanel' aria-labelledby='account-pill-password' aria-expanded='false')
                        div
                          .row
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-old-password') Old Password
                                  input#account-old-password.form-control(type='password' name='oldpassword' required placeholder='Old Password' data-validation-required-message='This old password field is required')
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-new-password') New Password
                                  input#account-new-password.form-control(type='password' name='newpassword' placeholder='New Password' required='' data-validation-required-message='The password field is required' minlength='6')
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-retype-new-password')
                                    | Retype New
                                    | Password
                                  input#account-retype-new-password.form-control(type='password' name='conpassword' required='' data-validation-match-match='password' placeholder='New Password' data-validation-required-message='The Confirm password field is required' minlength='6')
                            .col-12.d-flex.flex-sm-row.flex-column.justify-content-end
                              button.btn.btn-primary.mr-sm-1.mb-1.mb-sm-0(type='submit')
                                | Save
                                | changes
                      form#account-vertical-info.tab-pane.fade(action='/user/updateInfo' method='post' role='tabpanel' aria-labelledby='account-pill-info' aria-expanded='false')
                        div
                          .row
                            .col-12
                              .form-group
                                label(for='accountTextarea') Bio
                                textarea#accountTextarea.form-control(name='bio' value=bio rows='3' placeholder='Your Bio data here...') #{bio}
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-birth-date') Birth date
                                  input#account-birth-date.form-control.birthdate-picker(name='birthdate' value=birthdate type='text' required='' placeholder='Birth date' data-validation-required-message='This birthdate field is required')
                            .col-12
                              .form-group
                                label(for='accountSelect') Country
                                select#accountSelect.form-control(name='country')
                                  option USA
                                  option India
                                  option Canada
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-phone') Phone
                                  input#account-phone.form-control(name='phone' value=phone type='text' required='' placeholder='Phone number' data-validation-required-message='This phone number field is required')
                            .col-12.d-flex.flex-sm-row.flex-column.justify-content-end
                              button.btn.btn-primary.mr-sm-1.mb-1.mb-sm-0(type='submit')
                                | Save
                                | changes
                      form#account-vertical-social.tab-pane.fade(action='/user/updateInfo' method='post' role='tabpanel' aria-labelledby='account-pill-social' aria-expanded='false')
                        div
                          .row
                            .col-12
                              .form-group
                                label(for='account-twitter') Twitter
                                input#account-twitter.form-control(name='twitter' value=twitter type='text' placeholder='Add link')
                            .col-12
                              .form-group
                                label(for='account-facebook') Facebook
                                input#account-facebook.form-control(name='facebook' value=facebook type='text' placeholder='Add link')
                            .col-12
                              .form-group
                                label(for='account-google') Google+
                                input#account-google.form-control(name='google' value=google type='text' placeholder='Add link')
                            .col-12
                              .form-group
                                label(for='account-linkedin') LinkedIn
                                input#account-linkedin.form-control(name='linkedin' value=linkedin type='text' placeholder='Add link')
                            .col-12
                              .form-group
                                label(for='account-instagram') Instagram
                                input#account-instagram.form-control(name='instagram' value=instagram type='text' placeholder='Add link')
                            .col-12
                              .form-group
                                label(for='account-quora') Quora
                                input#account-quora.form-control(name='quora' value=quora type='text' placeholder='Add link')
                            .col-12.d-flex.flex-sm-row.flex-column.justify-content-end
                              button.btn.btn-primary.mr-sm-1.mb-1.mb-sm-0(type='submit')
                                | Save
                                | changes
        // account setting page end
  // END: Content
  // BEGIN: Footer
block footer
  footer.footer.footer-static.footer-light.navbar-border
    p.clearfix.blue-grey.lighten-2.text-sm-center.mb-0.px-2
      span.float-md-left.d-block.d-md-inline-block
        a.text-bold-800.grey.darken-2 #{name}
      span.float-md-right.d-none.d-lg-block
        | &Dstrok;&#x1ED3; &aacute;n th&#x1EF1;c t&#x1EAD;p 
        i.feather.icon-heart.pink
  // END: Footer
  // BEGIN: Vendor JS
  script(src='/js/vendors.min.js')
  // BEGIN Vendor JS
  // BEGIN: Page Vendor JS
  script(src='/js/select2.full.min.js')
  script(src='/js/jqBootstrapValidation.js')
  script(src='/js/picker.js')
  script(src='/js/picker.date.js')
  script(src='/js/switchery.min.js')
  // END: Page Vendor JS
  // BEGIN: Theme JS
  script(src='/js/app-menu.min.js')
  script(src='/js/app.min.js')
  // END: Theme JS
  // BEGIN: Page JS
  script(src='/js/account-setting.min.js')
  script(src='/js/components-modal.min.js')
  script(src='/js/upload-avatar.js')
  // END: Page JS
  // END: Body
