doctype html
// BEGIN: Head
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
  meta(name='description' content='Stack admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
  meta(name='keywords' content='admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app')
  meta(name='author' content='PIXINVENT')
  title Account setting - Stack Responsive Bootstrap 4 Admin Template
  link(rel='apple-touch-icon' href='/images/apple-icon-120.png')
  link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i' rel='stylesheet')
  // BEGIN: Vendor CSS
  link(rel='stylesheet' type='text/css' href='/css/vendors.min.css')
  link(rel='stylesheet' type='text/css' href='/css/select2.min.css')
  link(rel='stylesheet' type='text/css' href='/css/pickadate.css')
  link(rel='stylesheet' type='text/css' href='/css/switchery.min.css')
  // END: Vendor CSS
  // BEGIN: Theme CSS
  link(rel='stylesheet' type='text/css' href='/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='/css/bootstrap-extended.min.css')
  link(rel='stylesheet' type='text/css' href='/css/colors.min.css')
  link(rel='stylesheet' type='text/css' href='/css/components.min.css')
  // END: Theme CSS
  // BEGIN: Page CSS
  link(rel='stylesheet' type='text/css' href='/css/vertical-menu-modern.css')
  link(rel='stylesheet' type='text/css' href='/css/palette-gradient.min.css')
  link(rel='stylesheet' type='text/css' href='/css/form-validation.css')
  link(rel='stylesheet' type='text/css' href='/css/daterange.min.css')
  // END: Page CSS
  // BEGIN: Custom CSS
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  // END: Custom CSS
// END: Head
// BEGIN: Body
// BEGIN: Header
body.vertical-layout.vertical-menu-modern.2-columns.fixed-navbar
  nav.header-navbar.navbar-expand-lg.navbar.navbar-with-menu.fixed-top.navbar-semi-dark
    .navbar-wrapper
      .navbar-header
        ul.nav.navbar-nav.flex-row
          li.nav-item.mobile-menu.d-lg-none.mr-auto
            a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
              i.feather.icon-menu.font-large-1
          li.nav-item.mr-auto
            a.navbar-brand(href='/f/index.html')
              img.brand-logo(alt='stack admin logo' src='/images/stack-logo-light.png')
              h2.brand-text JS
          li.nav-item.d-none.d-lg-block.nav-toggle
            a.nav-link.modern-nav-toggle.pr-0(data-toggle='collapse')
              i.toggle-icon.feather.icon-toggle-right.font-medium-3.white(data-ticon='feather.icon-toggle-right')
          li.nav-item.d-lg-none
            a.nav-link.open-navbar-container(data-toggle='collapse' data-target='#navbar-mobile')
              i.fa.fa-ellipsis-v
      .navbar-container.content
        #navbar-mobile.collapse.navbar-collapse
          ul.nav.navbar-nav.mr-auto.float-left
          ul.nav.navbar-nav.float-right
            //
              <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-gb"></i><span class="selected-language"></span></a>
              <div class="dropdown-menu" aria-labelledby="dropdown-flag"><a class="dropdown-item" href="#" data-language="en"><i class="flag-icon flag-icon-us"></i> English</a><a class="dropdown-item" href="#" data-language="fr"><i class="flag-icon flag-icon-fr"></i> French</a><a class="dropdown-item" href="#" data-language="pt"><i class="flag-icon flag-icon-pt"></i> Portuguese</a><a class="dropdown-item" href="#" data-language="de"><i class="flag-icon flag-icon-de"></i> German</a></div>
              </li>
            li.dropdown.dropdown-notification.nav-item
              a.nav-link.nav-link-label(href='#' data-toggle='dropdown')
                i.ficon.feather.icon-bell
                span.badge.badge-pill.badge-danger.badge-up 5
              ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
                li.dropdown-menu-header
                  h6.dropdown-header.m-0
                    span.grey.darken-2 Notifications
                    span.notification-tag.badge.badge-danger.float-right.m-0 5 New
                li.scrollable-container.media-list
                  a(href='javascript:void(0)')
                    .media
                      .media-left.align-self-center
                        i.feather.icon-plus-square.icon-bg-circle.bg-cyan
                      .media-body
                        h6.media-heading You have new order!
                        p.notification-text.font-small-3.text-muted Lorem ipsum dolor sit amet, consectetuer elit.
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') 30 minutes ago
                  a(href='javascript:void(0)')
                    .media
                      .media-left.align-self-center
                        i.feather.icon-download-cloud.icon-bg-circle.bg-red.bg-darken-1
                      .media-body
                        h6.media-heading.red.darken-1 99% Server load
                        p.notification-text.font-small-3.text-muted Aliquam tincidunt mauris eu risus.
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Five hour ago
                  a(href='javascript:void(0)')
                    .media
                      .media-left.align-self-center
                        i.feather.icon-alert-triangle.icon-bg-circle.bg-yellow.bg-darken-3
                      .media-body
                        h6.media-heading.yellow.darken-3 Warning notifixation
                        p.notification-text.font-small-3.text-muted Vestibulum auctor dapibus neque.
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Today
                  a(href='javascript:void(0)')
                    .media
                      .media-left.align-self-center
                        i.feather.icon-check-circle.icon-bg-circle.bg-cyan
                      .media-body
                        h6.media-heading Complete the task
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Last week
                  a(href='javascript:void(0)')
                    .media
                      .media-left.align-self-center
                        i.feather.icon-file.icon-bg-circle.bg-teal
                      .media-body
                        h6.media-heading Generate monthly report
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Last month
                li.dropdown-menu-footer
                  a.dropdown-item.text-muted.text-center(href='javascript:void(0)') Read all notifications
            li.dropdown.dropdown-notification.nav-item
              a.nav-link.nav-link-label(href='#' data-toggle='dropdown')
                i.ficon.feather.icon-mail
                span.badge.badge-pill.badge-warning.badge-up 3
              ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
                li.dropdown-menu-header
                  h6.dropdown-header.m-0
                    span.grey.darken-2 Messages
                    span.notification-tag.badge.badge-warning.float-right.m-0 4 New
                li.scrollable-container.media-list
                  a(href='javascript:void(0)')
                    .media
                      .media-left
                        .avatar.avatar-online.avatar-sm.rounded-circle
                          img(src=`/uploads/${avatar}` alt='avatar')
                          i
                      .media-body
                        h6.media-heading Margaret Govan
                        p.notification-text.font-small-3.text-muted I like your portfolio, let&apos;s start.
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Today
                  a(href='javascript:void(0)')
                    .media
                      .media-left
                        span.avatar.avatar-sm.avatar-busy.rounded-circle
                          img(src='/images/avatar-s-2.png' alt='avatar')
                          i
                      .media-body
                        h6.media-heading Bret Lezama
                        p.notification-text.font-small-3.text-muted I have seen your work, there is
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Tuesday
                  a(href='javascript:void(0)')
                    .media
                      .media-left
                        .avatar.avatar-online.avatar-sm.rounded-circle
                          img(src=`/uploads/${avatar}` alt='avatar')
                          i
                      .media-body
                        h6.media-heading Carie Berra
                        p.notification-text.font-small-3.text-muted Can we have call in this week ?
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Friday
                  a(href='javascript:void(0)')
                    .media
                      .media-left
                        span.avatar.avatar-sm.avatar-away.rounded-circle
                          img(src='/images/avatar-s-6.png' alt='avatar')
                          i
                      .media-body
                        h6.media-heading Eric Alsobrook
                        p.notification-text.font-small-3.text-muted We have project party this saturday.
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') last month
                li.dropdown-menu-footer
                  a.dropdown-item.text-muted.text-center(href='chat.html') Read all messages
            li.dropdown.dropdown-user.nav-item
              a.dropdown-toggle.nav-link.dropdown-user-link(href='#' data-toggle='dropdown')
                .avatar.avatar-online
                  img(src=`/uploads/${avatar}` alt='avatar')
                  i
                span.user-name Ram Ram
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href='/user/getProfile')
                  i.feather.icon-user
                  |  Edit Profile
                a.dropdown-item(href='todo.html')
                  i.feather.icon-check-square
                  |  Task
                a.dropdown-item(href='chat.html')
                  i.feather.icon-message-square
                  |  Chats
                .dropdown-divider
                a.dropdown-item(href='/auth/logout')
                  i.feather.icon-power
                  |  Logout
  // END: Header
  // BEGIN: Main Menu
  .main-menu.menu-fixed.menu-dark.menu-accordion.menu-shadow(data-scroll-to-active='true')
    .main-menu-content
      ul#main-menu-navigation.navigation.navigation-main(data-menu='menu-navigation')
        li.navigation-header
          span T&#x1ED5;ng quan
          i.feather.icon-minus(data-toggle='tooltip' data-placement='right' data-original-title='General')
        li.nav-item
          a(href='index.html')
            i.feather.icon-layout
            span.menu-title(data-i18n='Layouts') B&#x1EA3;ng
          //
            <ul class="menu-content">
            <li><a class="menu-item" href="#" data-i18n="Page Layouts">Page Layouts</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="layout-1-column.html" data-i18n="1 column">1 column</a>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Content Det Sidebar">Content Det Sidebar</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="layout-content-detached-left-sidebar.html" data-i18n="Detached left sidebar">Detached left sidebar</a>
            </li>
            </ul>
            </li>
            <li class="navigation-divider"></li>
            <li><a class="menu-item" href="layout-fixed-navbar.html" data-i18n="Fixed navbar">Fixed navbar</a>
            </li>
            <li class="navigation-divider"></li>
            <li><a class="menu-item" href="layout-fixed.html" data-i18n="Fixed layout">Fixed layout</a>
            </li>
            <li class="navigation-divider"></li>
            <li><a class="menu-item" href="layout-light.html" data-i18n="Light layout">Light layout</a>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Navbars">Navbars</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="navbar-light.html" data-i18n="Navbar Light">Navbar Light</a>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Hide on Scroll">Hide on Scroll</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="navbar-hide-on-scroll-top.html" data-i18n="Hide on Scroll Top">Hide on Scroll Top</a>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="navbar-components.html" data-i18n="Navbar Components">Navbar Components</a>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Vertical Nav">Vertical Nav</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="#" data-i18n="Navigation Types">Navigation Types</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="../vertical-menu-template" data-i18n="Vertical Menu">Vertical Menu</a>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="vertical-nav-tags-pills.html" data-i18n="Tags &amp; Pills">Tags &amp; Pills</a>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Horizontal Nav">Horizontal Nav</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="#" data-i18n="Navigation Types">Navigation Types</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="../horizontal-menu-template" data-i18n="Classic">Classic</a>
            </li>
            <li><a class="menu-item" href="../horizontal-menu-template-nav" data-i18n="Nav Dark">Nav Dark</a>
            </li>
            </ul>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Page Headers">Page Headers</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="headers-breadcrumbs-basic.html" data-i18n="Breadcrumbs basic">Breadcrumbs basic</a>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Footers">Footers</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="footer-light.html" data-i18n="Footer Light">Footer Light</a>
            </li>
            </ul>
            </li>
            </ul>
        li.navigation-header(style='display: flex; justify-content: space-between')
          span C&aacute;c Nh&oacute;m
          i.feather.icon-minus(data-toggle='tooltip' data-placement='right' data-original-title='Apps')
          i.feather.icon-plus(href='' data-toggle='modal' data-target='#inlineForm')
        // Modal
        section
          #inlineForm.modal.fade.text-left(tabindex='-1' role='dialog' aria-labelledby='myModalLabel33' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  label#myModalLabel33.modal-title.text-text-bold-600 Th&ecirc;m ti&ecirc;u &dstrok;&#x1EC1; b&#x1EA3;ng
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                form(action='#')
                  .modal-body
                    label Ti&ecirc;u &dstrok;&#x1EC1;: 
                    .form-group
                      input.form-control(type='text' placeholder='...')
                    .modal-footer
                      input.btn.btn-outline-secondary.btn-lg(type='reset' data-dismiss='modal' value='Đóng')
                      input.btn.btn-outline-primary.btn-lg(type='submit' value='Thêm bảng')
        li.nav-item
          a(href='')
            i.feather.icon-users
            span.menu-title(data-i18n='Contacts') Front-end
          ul.menu-content
            li
              a.menu-item(href='alltable.html' data-i18n='Page Layouts') B&#x1EA3;ng
            li
              a.menu-item(href='member.html' data-i18n='Page Layouts') Th&agrave;nh vi&ecirc;n
            li
              a.menu-item(href='todo.html' data-i18n='Page Layouts') Vi&#x1EC7;c c&#x1EA7;n l&agrave;m
        li.nav-item
          a(href='')
            i.feather.icon-users
            span.menu-title(data-i18n='Contacts') Intership
          ul.menu-content
            li
              a.menu-item(href='alltable.html' data-i18n='Page Layouts') B&#x1EA3;ng
            li
              a.menu-item(href='member.html' data-i18n='Page Layouts') Th&agrave;nh vi&ecirc;n
            li
              a.menu-item(href='todo.html' data-i18n='Page Layouts') Vi&#x1EC7;c c&#x1EA7;n l&agrave;m
        li.nav-item
          a(href='')
            i.feather.icon-users
            span.menu-title(data-i18n='Contacts') Web project
          ul.menu-content
            li
              a.menu-item(href='alltable.html' data-i18n='Page Layouts') B&#x1EA3;ng
            li
              a.menu-item(href='member.html' data-i18n='Page Layouts') Th&agrave;nh vi&ecirc;n
            li
              a.menu-item(href='todo.html' data-i18n='Page Layouts') Vi&#x1EC7;c c&#x1EA7;n l&agrave;m
        //
          <li class=" nav-item"><a href="chat.html"><i class="feather icon-message-square"></i><span class="menu-title" data-i18n="Chat Application">Chat Application</span></a>
          </li>
          <li class=" nav-item"><a href="todo.html"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Todo Application">Todo Application</span></a>
          </li>
          <li class=" nav-item"><a href="table.html"><i class="feather icon-file-plus"></i><span class="menu-title" data-i18n="Kanban Application">Kanban Application</span></a>
          </li>
          <li class=" nav-item"><a href="member.html"><i class="feather icon-users"></i><span class="menu-title" data-i18n="Contacts">Thành viên</span></a>
          </li>
        li.navigation-header
          span C&aacute;c Trang
          i.feather.icon-minus(data-toggle='tooltip' data-placement='right' data-original-title='Pages')
        li.nav-item
          a(href='calendar.html')
            i.feather.icon-plus-square
            span.menu-title(data-i18n='Calender') Calender
  // END: Main Menu
  // BEGIN: Content
  .app-content.content
    .content-overlay
    .content-wrapper
      .content-header.row
        .content-header-left.col-md-6.col-12.mb-2
          h3.content-header-title.mb-0 Account setting
          .row.breadcrumbs-top
            .breadcrumb-wrapper.col-12
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='/') Home
                li.breadcrumb-item
                  a(href='/user/getProfile') Users
                li.breadcrumb-item.active
                  | Account setting
        //
          <div class="content-header-right col-md-6 col-12 mb-md-0 mb-2">
          <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
          <button class="btn btn-outline-primary dropdown-toggle dropdown-menu-right" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings icon-left"></i> Settings</button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="card-bootstrap.html">Bootstrap Cards</a><a class="dropdown-item" href="component-buttons-extended.html">Buttons Extended</a></div>
          </div><a class="btn btn-outline-primary" href="full-calender-basic.html"><i class="feather icon-mail"></i></a><a class="btn btn-outline-primary" href="timeline-center.html"><i class="feather icon-pie-chart"></i></a>
          </div>
          </div>
      .content-body
        // account setting page start
        section#page-account-settings
          .row
            // left menu section
            .col-md-3.mb-2.mb-md-0
              ul.nav.nav-pills.flex-column.mt-md-0.mt-1
                li.nav-item
                  a#account-pill-general.nav-link.d-flex.active(data-toggle='pill' href='#account-vertical-general' aria-expanded='true')
                    i.feather.icon-globe
                    |                                   General
                li.nav-item
                  a#account-pill-password.nav-link.d-flex(data-toggle='pill' href='#account-vertical-password' aria-expanded='false')
                    i.feather.icon-lock
                    |                                   Change Password
                li.nav-item
                  a#account-pill-info.nav-link.d-flex(data-toggle='pill' href='#account-vertical-info' aria-expanded='false')
                    i.feather.icon-info
                    |                                   Info
                li.nav-item
                  a#account-pill-social.nav-link.d-flex(data-toggle='pill' href='#account-vertical-social' aria-expanded='false')
                    i.feather.icon-camera
                    |                                   Social links
            // right content section
            .col-md-9
              .card
                .card-content
                  .card-body
                    .tab-content
                      form#account-vertical-general.tab-pane.active(action='/user/updateInfo' method='post' enctype='multipart/form-data' role='tabpanel' aria-labelledby='account-pill-general' aria-expanded='true')
                        .media
                          a(href='javascript: void(0);')
                            img.rounded.mr-75(src=`/uploads/${avatar}` alt='profile image' height='64' width='64')
                          .media-body.mt-75
                            .col-12.px-0.d-flex.flex-sm-row.flex-column.justify-content-start
                              label.btn.btn-sm.btn-primary.ml-50.mb-50.mb-sm-0.cursor-pointer(for='account-upload') Upload new photo
                              input#account-upload(name='avatar' type='file' hidden)
                            p.text-muted.ml-75.mt-50
                              small#file-chosen
                                | Allowed JPG, GIF or PNG. Max
                                | size of
                                | 800kB
                        hr
                        div
                          .row
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-username') Username
                                  input#account-username.form-control(name='username' type='text' placeholder='Username' value=username required='' data-validation-required-message='This username field is required')
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-name') Name
                                  input#account-name.form-control(name='name' type='text' placeholder='Name' value=name required='' data-validation-required-message='This name field is required')
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-e-mail') E-mail
                                  input#account-e-mail.form-control(name='email' type='email' placeholder='Email' value=email required='' data-validation-required-message='This email field is required')
                            .col-12
                              .form-group
                                label(for='account-company') Company
                                input#account-company.form-control(value=company name='company' type='text' placeholder='Company name')
                            .col-12.d-flex.flex-sm-row.flex-column.justify-content-end
                              button.btn.btn-primary.mr-sm-1.mb-1.mb-sm-0(type='submit')
                                | Save
                                | changes
                      form#account-vertical-password.tab-pane.fade(action='/user/updatePassword' method='post' role='tabpanel' aria-labelledby='account-pill-password' aria-expanded='false')
                        div
                          .row
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-old-password') Old Password
                                  input#account-old-password.form-control(type='password' name='oldpassword' required placeholder='Old Password' data-validation-required-message='This old password field is required')
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-new-password') New Password
                                  input#account-new-password.form-control(type='password' name='newpassword' placeholder='New Password' required='' data-validation-required-message='The password field is required' minlength='6')
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-retype-new-password')
                                    | Retype New
                                    | Password
                                  input#account-retype-new-password.form-control(type='password' name='conpassword' required='' data-validation-match-match='password' placeholder='New Password' data-validation-required-message='The Confirm password field is required' minlength='6')
                            .col-12.d-flex.flex-sm-row.flex-column.justify-content-end
                              button.btn.btn-primary.mr-sm-1.mb-1.mb-sm-0(type='submit')
                                | Save
                                | changes
                      form#account-vertical-info.tab-pane.fade(action='/user/updateInfo' method='post' role='tabpanel' aria-labelledby='account-pill-info' aria-expanded='false')
                        div
                          .row
                            .col-12
                              .form-group
                                label(for='accountTextarea') Bio
                                textarea#accountTextarea.form-control(name='bio' value=bio rows='3' placeholder='Your Bio data here...') #{bio}
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-birth-date') Birth date
                                  input#account-birth-date.form-control.birthdate-picker(name='birthdate' value=birthdate type='text' required='' placeholder='Birth date' data-validation-required-message='This birthdate field is required')
                            .col-12
                              .form-group
                                label(for='accountSelect') Country
                                select#accountSelect.form-control(name='country')
                                  option USA
                                  option India
                                  option Canada
                            .col-12
                              .form-group
                                .controls
                                  label(for='account-phone') Phone
                                  input#account-phone.form-control(name='phone' value=phone type='text' required='' placeholder='Phone number' data-validation-required-message='This phone number field is required')
                            .col-12.d-flex.flex-sm-row.flex-column.justify-content-end
                              button.btn.btn-primary.mr-sm-1.mb-1.mb-sm-0(type='submit')
                                | Save
                                | changes
                      form#account-vertical-social.tab-pane.fade(action='/user/updateInfo' method='post' role='tabpanel' aria-labelledby='account-pill-social' aria-expanded='false')
                        div
                          .row
                            .col-12
                              .form-group
                                label(for='account-twitter') Twitter
                                input#account-twitter.form-control(name='twitter' value=twitter type='text' placeholder='Add link')
                            .col-12
                              .form-group
                                label(for='account-facebook') Facebook
                                input#account-facebook.form-control(name='facebook' value=facebook type='text' placeholder='Add link')
                            .col-12
                              .form-group
                                label(for='account-google') Google+
                                input#account-google.form-control(name='google' value=google type='text' placeholder='Add link')
                            .col-12
                              .form-group
                                label(for='account-linkedin') LinkedIn
                                input#account-linkedin.form-control(name='linkedin' value=linkedin type='text' placeholder='Add link')
                            .col-12
                              .form-group
                                label(for='account-instagram') Instagram
                                input#account-instagram.form-control(name='instagram' value=instagram type='text' placeholder='Add link')
                            .col-12
                              .form-group
                                label(for='account-quora') Quora
                                input#account-quora.form-control(name='quora' value=quora type='text' placeholder='Add link')
                            .col-12.d-flex.flex-sm-row.flex-column.justify-content-end
                              button.btn.btn-primary.mr-sm-1.mb-1.mb-sm-0(type='submit')
                                | Save
                                | changes
        // account setting page end
  // END: Content
  // BEGIN: Footer
  footer.footer.footer-static.footer-light.navbar-border
    p.clearfix.blue-grey.lighten-2.text-sm-center.mb-0.px-2
      span.float-md-left.d-block.d-md-inline-block
        a.text-bold-800.grey.darken-2 #{name}
      span.float-md-right.d-none.d-lg-block
        | &Dstrok;&#x1ED3; &aacute;n th&#x1EF1;c t&#x1EAD;p 
        i.feather.icon-heart.pink
  // END: Footer
  // BEGIN: Vendor JS
  script(src='/js/vendors.min.js')
  // BEGIN Vendor JS
  // BEGIN: Page Vendor JS
  script(src='/js/select2.full.min.js')
  script(src='/js/jqBootstrapValidation.js')
  script(src='/js/picker.js')
  script(src='/js/picker.date.js')
  script(src='/js/switchery.min.js')
  // END: Page Vendor JS
  // BEGIN: Theme JS
  script(src='/js/app-menu.min.js')
  script(src='/js/app.min.js')
  // END: Theme JS
  // BEGIN: Page JS
  script(src='/js/account-setting.min.js')
  script(src='/js/components-modal.min.js')
  script(src='/js/upload-avatar.js')
  // END: Page JS
  // END: Body
