
extends layout.pug

block header
  doctype html
  html.loading(lang='en' data-textdirection='ltr')
    // BEGIN: Head
    head
      meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
      meta(name='description' content='Stack admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
      meta(name='keywords' content='admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app')
      meta(name='author' content='PIXINVENT')
      title Home
      link(rel='apple-touch-icon' href='/images/apple-icon-120.png')
      link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico')
      link(href='https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i' rel='stylesheet')
      // BEGIN: Vendor CSS
      link(rel='stylesheet' type='text/css' href='/css/vendors.min.css')
      // END: Vendor CSS
      // BEGIN: Theme CSS
      link(rel='stylesheet' type='text/css' href='/css/bootstrap.min.css')
      link(rel='stylesheet' type='text/css' href='/css/bootstrap-extended.min.css')
      link(rel='stylesheet' type='text/css' href='/css/colors.min.css')
      link(rel='stylesheet' type='text/css' href='/css/components.min.css')
      // END: Theme CSS
      // BEGIN: Page CSS
      link(rel='stylesheet' type='text/css' href='/css/vertical-menu-modern.css')
      link(rel='stylesheet' type='text/css' href='/css/palette-gradient.min.css')
      link(rel='stylesheet' type='text/css' href='/css/fonts/style.min.css')
      link(rel='stylesheet' type='text/css' href='/css/card-statistics.min.css')
      link(rel='stylesheet' type='text/css' href='/css/vertical-timeline.min.css')
      // END: Page CSS
      // BEGIN: Custom CSS
      link(rel='stylesheet' type='text/css' href='/css/style.css')
      // END: Custom CSS
      // END: Head
      // BEGIN: Body
block content
  // BEGIN: Content
  .app-content.content
    .content-overlay
    .content-wrapper
      .content-header.row
      .content-body
        // Grouped multiple cards for statistics starts here
        each val, index in teams
          .row.grouped-multiple-statistics-card
            .card-body
              .row.tamember(style='justify-content: center;')
                ol.breadcrumb
                  li.breadcrumb-item
                    i.feather.icon-users
                    a #{val.name_team}
                  li.breadcrumb-item
                    a(href='alltable.html')  Bảng
                  li.breadcrumb-item.active
                    a(href='member.html') Thành viên
              .row
                each cate, index in val.categories
                  .col-xl-3.col-sm-6.col-12
                    .card
                      .card-content
                        .card-body
                          .media.d-flex
                            .media-body.text-left
                              h3.warning
                                a(href=`/category/${cate.id}`) #{cate.name_category}
                            .align-self-center
                              i.icon-list.warning.font-large-2.float-right
                // thêm bảng mới
                .col-xl-3.col-sm-6.col-12
                  .card(style='height: 83.6px;')
                    .card-content
                      .card-body
                        .media.d-flex(style='justify-content:center;')
                          a.addmore(data-id=val.id href='' data-toggle='modal' data-target='#categoryForm')
                            | Thêm bảng mới
                            i.feather.icon-plus
        // Modal
        section
          #categoryForm.modal.fade.text-left(tabindex='-1' role='dialog' aria-labelledby='myModalLabel34' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  label#myModalLabel34.modal-title.text-text-bold-600 Thêm thể loại
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×
                form(action='/category/create' method='post')
                  .modal-body
                    label Tên thể loại: 
                    .form-group
                      input.form-control(name='name_category' type='text' placeholder='...')
                      input#team_id.form-control(name='id_team' type='hidden')
                    .modal-footer
                      input.btn.btn-outline-secondary.btn-lg(type='reset' data-dismiss='modal' value='Đóng')
                      input.btn.btn-outline-primary.btn-lg(type='submit' value='Thêm thể loại')
        section
          #teamForm.modal.fade.text-left(tabindex='-1' role='dialog' aria-labelledby='myModalLabel33' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  label#myModalLabel33.modal-title.text-text-bold-600 Thêm nhóm
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×
                form(action='/team/create' method='post')
                  .modal-body
                    label Tên nhóm: 
                    .form-group
                      input.form-control(name='name_team' type='text' placeholder='...')
                    .modal-footer
                      input.btn.btn-outline-secondary.btn-lg(type='reset' data-dismiss='modal' value='Đóng')
                      input.btn.btn-outline-primary.btn-lg(type='submit' value='Thêm nhóm')
  // END: Content
  // BEGIN: Footer
block footer
  footer.footer.footer-static.footer-light.navbar-border
    p.clearfix.blue-grey.lighten-2.text-sm-center.mb-0.px-2
      span.float-md-left.d-block.d-md-inline-block
        a.text-bold-800.grey.darken-2 PHANTHITHUHANG
      span.float-md-right.d-none.d-lg-block
        | Đồ án thực tập 
        i.feather.icon-heart.pink
  // END: Footer
  // BEGIN: Vendor JS
  script(src='/js/vendors.min.js')
  // BEGIN Vendor JS
  // BEGIN: Page Vendor JS
  script(src='/js/apexcharts.min.js')
  // END: Page Vendor JS
  // BEGIN: Theme JS
  script(src='/js/app-menu.min.js')
  script(src='/js/app.min.js')
  // END: Theme JS
  // BEGIN: Page JS
  script(src='/js/card-statistics.min.js')
  script(src='/js/components-modal.min.js')
  script(src='/js/form-category.js')
  // END: Page JS
  // END: Body
